@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet"');
*{
  box-sizing: border-box;
}
html {
  font-family:sans-serif;
}
body{
  margin: 0;
  background-color: rgb(2, 113, 92);
}